*{
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: red;
}
h1{
    font-size: 2rem;
    text-align: center;
}
.makeItBlue{
    color: blue;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
    margin: 50px;
}
.linksIntoButton{
    font-size: 1.5rem;
    margin-top: 20px;
    text-shadow: 0px 0px 3px gold;
}
svg {
  width: 24px;
  height: 24px;
  stroke-width: 2;
  color: #3498db;
}
.all_navigation{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.navBtn{
    border: 2px solid blue;
    padding: 5px 20px;
    background-color: black;
    box-shadow: 0px 0px 50px blue;
    text-decoration: none;
    font-size: 24px;
    border-radius: 10px;
    color: red;           
    display: flex;        
    align-items: center;  
    gap: 8px; 
    margin-top: 20px;
}
.projectText{
    padding: 5px 20px;
    background-color: black;
    box-shadow: 0px 0px 50px blue;
    text-decoration: none;
    font-size: 24px;
    border-radius: 10px;
    color: red;           
    display: flex;        
    align-items: center;  
    gap: 8px;
}
.homeHtml{
    padding: 5px 20px;
    background-color: black;
    box-shadow: 0px 0px 50px blue;
    text-decoration: none;
    font-size: 24px;
    border-radius: 10px;
    color: red;           
    display: flex;        
    align-items: center;  
    gap: 8px;
}
